<div id="homeContent" class="container pt-3 ">
  <div class="row flex-column align-items-center">
    <% for (let i = 0; i < Results.length; i++) { %>
    <div class="row col-12 col-md-12 brand-name"><%= Results[i].brand_name %></div>
    <div class="row col-12 col-md-12 products justify-content-space">
      <% Results[i].products.forEach((product,index)=>{%>
      <div class="c-product-card">
        <div class="product-card">
          <a href="/productDetails/<%=product._id%>">
            <div class="product-card-media lux-bg">
              <img id="product-img" src="<%= product.images[0]%>" alt="">
            </div>
          </a>
          <div class="product-card-details">
            <h2 id="productName"><%= product.product_name%></h2>
            <div class="product-price flex-wrap">
              <%#<span class="old-price">2,220,000đ</span>%>
              <span
                class="current-price"><%=product.list_price.toLocaleString('vi-VN', {style: 'currency',currency: 'VND'})%>
                <%=product.money_unit%></span>
            </div>
          </div>
          <%if(Number(Results[i].amount[product._id]) > 0){%>
          <div class=" quantity2 d-flex  lux-bg pb-3 justify-content-center">
            <input type="number" style="border:1px solid black ;border-radius:5px ; width: 35%;text-align: center;"
              class="quantity-item" name="quantity" min="1" max="<%=Results[i].amount[product._id]%>" value="1">
            <select name="productSize" class="ml-3 productSize"
              style="width: 35%; border:1px solid black ;border-radius:5px ;" tabindex="-98">
              <%for(let k in product.sizes){%>
              <%if(product.sizes.hasOwnProperty(k)){%>
              <% if(product.sizes[k].amount){%>
              <option value="<%=product.sizes[k].size%>"><%=product.sizes[k].size%></option>
              <% }%>
              <% }%>
              <% }%>
            </select>
          </div>
          <div class="unset-radius product-btn bg-dark d-flex flex-row flex-wrap">
            <div class="col d-flex justify-content-center ">
              <a id="<%=product._id%>" data-brand="<%=i%>" data-index="<%=index%>" data-id="<%=product._id%>"
                onclick="window.clickAdd(this)"><i class="fas fa-shopping-cart fa-2x text-light"></i></a>
            </div>
          </div>
          <%}else{%>
          <div class="d-flex align-items-center justify-content-center lux-bg"
            style="width: 100%; height: 105px;color: red;">
            <h4>Liên hệ </h4>
          </div>
          <% }%>
        </div>
      </div>
      <% })%>
    </div>
    <% } %>
  </div>
</div>