<div class="container mt-3 d-flex flex-column">
  <div class="row col-12 col-md-12 d-flex mb-3 align-items-center">
    <span>Sắp xếp theo: </span>
    <form id="filter-product-form" action="/products/filter/1" method="get"
      class="form-inline align-items-center d-flex ml-2 ">
      <div class="form-group align-items-center justify-content-space">
        <select name="brandId" id="brandId">
          <option value="0">Brand</option>
          <option value="1">Adidas</option>
          <option value="2">Converse</option>
          <option value="3">Nike</option>
          <option value="4">Fila</option>
          <option value="5">Balenciaga</option>
          <option value="6">Urban</option>
          <option value="7">Vina</option>
          <option value="8">Tamanh</option>
        </select>
        <select name="categoryId" id="categoryId">
          <option value="0">Category</option>
          <option value="1">Giày Nam</option>
          <option value="2">Sandal & Dép</option>
          <option value="3">Boot</option>
          <option value="4">Phụ Kiện</option>
          <option value="5">Giày thể thao</option>
          <option value="6">Giày Lười và SlipOn</option>
          <option value="7">Giày Tây</option>
          <option value="8">Thắt Lưng và Khóa</option>
          <option value="9">Lót giày</option>
          <option value="10">Calavat</option>
        </select>
        <select class="min-width-70" name="sortBy" id="sortBy">
          <option value="0">Giá</option>
          <option value="1">Tên</option>

        </select>
        <select class="min-width-110" name="arrow" id="arrow">
          <option value="0">Tăng dần</option>
          <option value="1">Giảm dần</option>
        </select>
        <button class="filter-btn" type="submit">Lọc</button>
      </div>
    </form>
  </div>
  <div class="row col-12 col-md-12 justify-content-center mt-2 mb-3" style="font-weight: bold;font-size: 22px;">
    <div>
      <% if(current == pages){%>
      <%=count%> of <%=count%>
      <% }else{%>
      <%=current *perPage%> of <%=count%>
      <% }%>
    </div>
  </div>
  <div class="row col-12 col-md-12 products justify-content-space">
    <% for(let product of products){%>
    <div class="c-product-card">
      <div class="product-card">
        <a href="#">
          <div class="product-card-media lux-bg">
            <img id="product-img" src="<%= product.images[0]%>" alt="">
          </div>
        </a>
        <div class="product-card-details">
          <h2 id="productName"><%= product.product_name%></h2>
          <div class="product-price flex-wrap">
            <%#<span class="old-price">2,220,000đ</span>%>
            <span class="current-price"><%=product.list_price%><%=product.money_unit%></span>
          </div>
        </div>
        <div class="unset-radius product-btn bg-dark d-flex flex-row flex-wrap">
          <div class="col d-flex justify-content-center ">
            <a href=""><i class="fas fa-heart fa-2x text-light"></i></a>
          </div>
          <div class="col d-flex justify-content-center ">
            <a href=""><i class="fas fa-shopping-cart fa-2x text-light"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% }%>
  </div>
  <div class="row justify-content-center mt-3 flex-row">
    <nav id="productsPagination" aria-label="Page navigation">
      <% if(Number(pages) > 0 ){%>
      <ul class="pagination justify-content-center text-center flex-row">
        <% if(current == 1){%>
        <li class=" page-item disabled">
          <a class="page-link" href="1<%=query_string%>" tabindex="-1">First</a>
        </li>
        <% }else{%>
        <li class="page-item">
          <a class="page-link" href="1<%=query_string%>" tabindex="-1">First</a>
        </li>
        <% }%>
        <% var i =((Number(current)>5)?(Number(current)-4):1)%>
        <%if(i <= 1){%>
        <li class="page-item disabled">
          <a class="page-link" href="<%=Number(current)-4%><%=query_string%>">...</a>
        </li>
        <% }else{%>
        <li class="page-item">
          <a class="page-link" href="<%=Number(current)-4%><%=query_string%>">...</a>
        </li>
        <% }%>
        <% for(; i <= ( Number(current) + 4 )&&( i <= pages);i++){%>
        <% if(i == current){%>
        <li class="page-item active">
          <a class="page-link" href="<%=Number(current)%><%=query_string%>"><%=Number(current)%></a>
        </li>
        <% }else{%>
        <li class="page-item">
          <a class="page-link" href="<%=Number(i)%><%=query_string%>"><%=Number(i)%></a></li>
        <%}%>
          <% }%>
        <% if((Number(current)+4) >= pages){%>
        <li class="page-item disabled">
          <a class="page-link" href="<%=Number(current)+4%><%=query_string%>">...</a>
        </li>
        <% }else{%>
        <li class="page-item">
          <a class="page-link" href="<%=Number(current)+4%><%=query_string%>">...</a>
        </li>
        <%}%>
        <% if(Number(current) == pages){%>
        <li class="page-item disabled">
          <a class="page-link" href="<%=Number(pages)%><%=query_string%>">Last</a>
        </li>
        <% }else{%>
        <li class="page-item">
          <a class="page-link" href="<%=Number(pages)%><%=query_string%>">Last</a>
        </li>
        <% }%>
      </ul>
      <% }%>
    </nav>
  </div>
</div>