<div class="px-4 px-lg-0">
  <div class="pb-5">
    <div class="container pt-2">
      <h1>Shopping Cart</h1>
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light row  justify-content-around">
                    <div class="py-2 text-uppercase">Quantity</div>
                  
                    <div class="py-2 text-uppercase">Size</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Action</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Total</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <%if(cart.length < 1){%>
                  <h3>Chưa có sản phẩm nào được chọn!</h3>
                  <%}else{%>
                    <% for(let i in cart.items){%>
                      <% if(cart.items.hasOwnProperty(i)){%>
                      <tr class="_item">
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <img src="<%=cart.items[i].item.images[0]%>" alt=""
                              width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="/productDetails/<%=cart.items[i].item._id%>" class="text-dark d-inline-block align-middle"><%=cart.items[i].item.product_name%></a></h5><span class="text-muted font-weight-normal font-italic d-block"></span>
                            </div>
                          </div>
                        </th>
                        <td class="border-0 align-middle"><strong><%=cart.items[i].item.list_price.toLocaleString('vi-VN', {style: 'currency',currency: 'VND'})%><%= cart.items[i].item.money_unit%></strong></td>
                        <td class="border-0 align-middle sizes">
                       <% cart.items[i].sizes.forEach((item,index)=>{%>
                        <div class="row flex-row justify-content-around size">
                            <input type="number"
                              style="border:1px solid black ;border-radius:5px ; width: 40%;text-align: center;"
                              class="quantity-item"  min="1" max="100" value="<%=item.quantity%>">
                              <select  class=" productSize"
                              style="width: 40%; border:1px solid black ;border-radius:5px ;" tabindex="-98">
                            <option value="<%=item.size%>"><%=item.size%></option>
                              </select>
                            </div>
                              <%})%>
                        </td>
                        <td class="border-0 align-middle jus">
                          <div class="row flex-row justify-content-around" >
                            <div class="row">
                              <a id="<%i%>" onclick="window.updateItem(this)" class="text-dark"><i class="fas fa-sync-alt"></i></a>
                            </div>
                            <div class="row"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                            </div>
                          </div>
                            </td>
                            <td class="border-0 align-middle">
                              <div class="row flex-row justify-content-center" >
                                <span><strong><%=cart.items[i].price.toLocaleString('vi-VN', {style: 'currency',currency: 'VND'})%><%= cart.items[i].item.money_unit%></strong></span>
                              </div>
                            </td>
                      </tr>
                    <%}%>
                    <%}%>
                    <%}%>
              </tbody>
            </table>
          </div>
          <%# End %>
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Mã giảm giá</div>
          <div class="p-4">
            <p class="font-italic mb-4">Nhập mã giảm giá nếu có</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="" aria-describedby="button-addon3"
                class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" onclick="window.updateItem(this)" class=" btn-dark px-4 rounded-pill"><i
                    class="fa fa-gift mr-2"></i>Nhập</button>
              </div>
              
            </div>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thông tin thêm</div>
          <div class="p-4">
            <p class="font-italic mb-4">Hãy nhập thêm thông tin cho người bán hàng
            </p>
            <textarea id="description" name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thông tin người mua</div>
          <div class="p-4 flex-column">
            <div class="form-group d-flex flex-column" style="width: 100%;">
              <label for="username">Tên người mua</label>
              <input id="customerId" class="border-radius-input border-bottom-solid-gray" type="text" name="username" value="<%=(typeof user != 'undefined') ? user.name : ''%>">
            </div>
            <div class="form-group d-flex flex-column">
              <label for="phone">Số điện thoại</label>
              <input id="phoneId" class="border-radius-input border-bottom-solid-gray" type="text" name="phone" value="<%=(typeof user != 'undefined') ? user.phone : ''%>">
            </div>
            <div class="form-group d-flex flex-column">
              <label for="address">Địa chỉ</label>
              <input id="addressId" class="border-radius-input border-bottom-solid-gray" type="text" name="address" value="<%=(typeof user != 'undefined') ? user.address : ''%>">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Tổng hóa đơn:</div>
          <div class="p-4">
            <p class="font-italic mb-4"><span class="text-danger">*</span>Hóa đơn chưa chứa phí ship
            </p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tổng tiền hóa đơn:
                
                </strong><strong> <%=cart.totalPrice.toLocaleString('vi-VN', {style: 'currency',currency: 'VND'})%></strong> <strong> vnd</strong></li>
              
            </ul><button onclick="window.finishOrder(this)" class="btn-dark rounded-pill py-2 btn-block">Finish</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>